* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Do Hyeon", sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.slick-arrow {
    position: absolute;
    width: 16px;
    top: 50%;
    height: 16px;
    border: none;
    text-indent: -9999px;
    background-color: transparent;
}

.slick-dots {
    position: absolute;
    top: 750px;
    left: 900px;
}

.slick-dots li {
    float: left;

}

.slick-dots li button {
    border: none;
    width: 10px;
    margin-left: 30px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.54);
}

#header_all {
    position:absolute;
    width: 100%;
    z-index: 10;
    height: 200px;
    top: 0;
}

.logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 200px;
}

.lan {
    position: absolute;
    width: 80px;
    top: 5px;
    cursor: pointer;
    height: 80px;
    left: 220px;
}

.lan_drop {
    color: #fff;
    display: none;
    top: 60px;
    left: 220px;
    background-color: rgba(211, 211, 211, 0.395);
    text-align: center;
    height: 100px;
    line-height: 50px;
    position: absolute;
    width: 80px;
}



.lan_drop>p {
    width: 80px;
    height: 40px;
}

.header_menu {
    position: absolute;
    display: flex;
    top: 30px;
    line-height: 40px;
    left: 410px;
    color: #fff;
    font-size: 1.6rem;
    height: 40px;
    text-align: center;
}
.header_menu>li {
    width: 180PX;
}
.header_icons{
    position: absolute;
    right: 40px;
    top: 8px;
}

#main_all {
    position:relative;
    top: 0;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
.single-item{
    position: relative;
    height: 800px;
    width: 100%;
}
.main_ment {
    position: absolute;
    color: #fff;
    top: 280px;
    margin-left: 150px;
    line-height: 80px;
    font-size: 3rem;
}

#mini_banner{
    position: relative;
    width: 100%;
    height: 130px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.925);
}