* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Do Hyeon", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: black;
}

li {
    list-style: none;
    text-decoration: none;
}

.slick-arrow {
    position: absolute;
    width: 16px;
    top: 50%;
    height: 16px;
    border: none;
    text-indent: -9999px;
    background-color: transparent;
}

.slick-dots {
    position: absolute;
    top: 750px;
    left: 900px;
}

.slick-dots li {
    float: left;

}

.slick-dots li button {
    border: none;
    width: 10px;
    margin-left: 30px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.54);
}

#header_all {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 200px;
    top: 0;
}

.logo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 200px;
}

.lan {
    position: absolute;
    width: 80px;
    top: 5px;
    cursor: pointer;
    height: 80px;
    left: 220px;
}

.lan_drop {
    color: #fff;
    display: none;
    top: 60px;
    left: 220px;
    background-color: rgba(211, 211, 211, 0.395);
    text-align: center;
    height: 100px;
    line-height: 50px;
    position: absolute;
    width: 80px;
}

.lan_drop>p {
    width: 80px;
    height: 40px;
}

.header_menu {
    position: absolute;
    display: flex;
    top: 30px;
    line-height: 40px;
    left: 410px;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    height: 40px;
    text-align: center;
}

.header_menu>li {
    width: 180PX;
}

.header_drop_menu::after,
.header_drop_menu_01::after,
.header_drop_menu_02::after,
.header_drop_menu_03::after {
    position: absolute;
    content: "";
    top: 0px;
    width: 200px;
    height: 2px;
    left: 0px;
    background-color: red;
}

.header_drop_menu {
    font-size: 1.0rem;
    padding: 15px;
    display: none;
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    top: 70px;
    text-align: left;
    left: 400px;
}

.header_drop_menu>li,
.header_drop_menu_01>li,
.header_drop_menu_02>li,
.header_drop_menu_03>li {
    position: relative;
    height: 45px;
    line-height: 40px;
}

.header_drop_menu>li>span {
    display: block;
    top: 0;
    right: 0;
    position: absolute;
}

.header_drop_menu_01 {
    font-size: 1.0rem;
    padding: 15px;
    display: none;
    position: absolute;
    width: 200px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    top: 70px;
    text-align: center;
    left: 580px;
}

.header_drop_menu_02 {
    font-size: 1.0rem;
    padding: 15px;
    display: none;
    position: absolute;
    width: 200px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    top: 70px;
    text-align: center;
    left: 760px;
}

.header_drop_menu_03 {
    font-size: 1.0rem;
    padding: 15px;
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    top: 70px;
    text-align: center;
    left: 940px;
}

.header_icons {
    position: absolute;
    right: 40px;
    top: 8px;
}

.single-item {
    position: relative;
    height: 750px;
    width: 100%;
}

.main_ment {
    position: absolute;
    color: #fff;
    top: 280px;
    margin-left: 150px;
    line-height: 80px;
    font-size: 3rem;
}

#mini_banner {
    position: relative;
    width: 100%;
    height: 130px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.925);
}

#mini_banner>p {
    line-height: 130px;
    padding-left: 160px;
    width: 900px;
    font-size: 2rem;
}

#mini_banner>p::after {
    content: '';
    position: absolute;
    top: 16px;
    left: 50%;
    width: 0.5px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.604);
}

.mini_bannner_ment {
    position: absolute;
    right: 120px;
    color: #fff;
    top: 17px;
    display: flex;
}

.mini_bannner_ment>a {
    width: 250px;
    position: relative;
}

.mini_bannner_ment>a>p {
    color: #fff;
    float: right;
    font-size: 1.3rem;
    position: absolute;
    right: 30px;
    top: 25px;
    font-family: "IBM Plex Sans KR", sans-serif;
}

#header_main_all {
    position: relative;
    width: 100%;
    height: 750px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.main_01 {
    position: relative;
    padding: 100px;
    margin-top: 30px;
}

.main_01>h2::before {
    content: '';
    position: absolute;
    margin-left: 60px;
    top: 35px;
    width: 3px;
    height: 80px;
    background-color: #ff0000;
}

.main_01>h2 {
    font-weight: 400;
    font-size: 3rem;
    height: 100px;
    line-height: 100px;
}

.main_01>div {
    line-height: 60px;
    font-size: 2.5rem;
}

.main_02 {
    position: relative;
    height: 60px;
    cursor: pointer;
    animation: graph 2s infinite;
    width: 300px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    border: 1px solid red;
    line-height: 60px;
}

.main_02>span {
    height: 60px;
    border-radius: 10px;
    width: 300px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: red;
    display: block;
}

.main_02:hover {
    animation: graph step-start;
    cursor: pointer;
    background-color: red;
}

.main_02>span:hover {
    color: #fff;
    cursor: pointer;
}

#main_all {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

@keyframes graph {
    0% {
        width: 0;
    }

    100% {
        width: 300px;
    }
}

#img_all {
    position: relative;
    width: 100%;
    height: 500px;
    padding-left: 380px;
}

.img_01>div>img {
    position: relative;
    width: 400px;
}

.img_01>div {
    position: relative;
    height: 440px;
    float: left;
    width: 410px;
}

.img_ment_01,
.img_ment_02,
.img_ment_03 {
    position: absolute;
    right: 10px;
    top: 210px;
    height: 130px;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.5);
}

.img_ment_01>p:nth-child(1),
.img_ment_02>p:nth-child(1),
.img_ment_03>p:nth-child(1) {
    font-size: 1.5rem;
    color: red;
    padding: 10px;
}

.img_ment_01>p:nth-child(2),
.img_ment_02>p:nth-child(2),
.img_ment_03>p:nth-child(2) {
    font-size: 3.5rem;
    color: #8F8377;
    padding-left: 10px;
}

.img_ment_01::after,
.img_ment_02::after,
.img_ment_03::after {
    position: absolute;
    content: '';
    left: 10px;
    top: 110px;
    width: 30px;
    height: 3px;
    background-color: red;
}

.img_01>div>span {
    font-size: 1.5rem;
    height: 100px;
    margin-top: 70px;
    display: inline-block;
    color: #8F8377;
    line-height: 40px;
}

#zoom_img {
    position: relative;
    width: 100%;
    height: 850px;
}

.zoom_ment {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
}

.zoom_ment>span {
    display: inline-block;
    color: red;
    height: 100px;
    font-weight: 400;
    font-size: 2.5rem;
}

.zoom_ment>span::after {
    position: absolute;
    content: "";
    background-color: red;
    width: 170px;
    height: 1px;
    top: 50px;
    left: 0;
}

.zoom_ment>p {
    color: rgb(48, 48, 48);
    font-weight: 400;
    font-size: 3.7rem;
}

#brand_all {
    position: relative;
    width: 100%;
    top: 30px;
    height: 1000px;
}

#brand_all .brand_title {
    text-align: center;
    height: 400px;
    padding: 50px;
}

#brand_all .brand_title>span {
    display: block;
    height: 80px;
    line-height: 80px;
    color: red;
    font-size: 4rem;
}

#brand_all .brand_title>p {
    height: 200px;
    line-height: 90px;
    font-size: 4rem;
    color: #444444;
}

.brand_section {
    position: relative;
    width: 100%;
    height: 800px;
}

.brand_section_title {
    display: flex;
    padding-left: 350px;
    height: 80px;
    line-height: 80px;
}

.brand_section_title::after {
    position: absolute;
    content: "";
    background-color: #bdbdbd;
    width: 1200px;
    height: 2px;
    left: 360px;
    top: 70px;
}

.brand_section_title>p {
    width: 300px;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
}

.brand_section_img_01 {
    width: 1250px;
    position: relative;
    left: 50%;
    padding-left: 20px;
    top: 40px;
    transform: translateX(-50%);
}

.brand_section_img_01>img,
.brand_section_img_02>img,
.brand_section_img_03>img,
.brand_section_img_04>img {
    width: 400px;
}

.brand_section_img_01::before {
    position: absolute;
    content: "";
    background-color: #ff0000;
    width: 300px;
    height: 2px;
    left: 36px;
    margin-top: -50px;
}

.brand_section_img_02 {
    display: none;
    width: 1250px;
    position: relative;
    left: 50%;
    padding-left: 20px;
    top: 40px;
    transform: translateX(-50%);
}

.brand_section_img_02::before {
    position: absolute;
    content: "";
    background-color: #ff0000;
    width: 300px;
    height: 2px;
    left: 336px;
    margin-top: -50px;
}

.brand_section_img_03 {
    display: none;
    width: 1250px;
    position: relative;
    left: 50%;
    padding-left: 20px;
    top: 40px;
    transform: translateX(-50%);
}

.brand_section_img_03::before {
    position: absolute;
    content: "";
    background-color: #ff0000;
    width: 300px;
    height: 2px;
    left: 636px;
    margin-top: -50px;
}

.brand_section_img_04 {
    display: none;
    width: 1250px;
    position: relative;
    left: 50%;
    padding-left: 20px;
    top: 40px;
    transform: translateX(-50%);
}

.brand_section_img_04::before {
    position: absolute;
    content: "";
    background-color: #ff0000;
    width: 300px;
    height: 2px;
    left: 936px;
    margin-top: -50px;
}

#inno_all {
    position: relative;
    width: 100%;
    top: 30px;
    height: 1500px;
}

#inno_all .inno_title {
    text-align: center;
    height: 400px;
    padding: 50px;
}

#inno_all .inno_title>span {
    display: block;
    height: 80px;
    line-height: 80px;
    color: red;
    font-size: 4rem;
}


#inno_all .inno_title>p {
    height: 200px;
    line-height: 90px;
    font-size: 4rem;
    color: #444444;
}

.inno_section {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: 850px;
}

.inno_section::-webkit-scrollbar {
    width: 800px;
    height: 6px;
}

.inno_section::-webkit-scrollbar-track {
    background-color: rgba(233, 233, 233, 0.534);
    border-radius: 6px;
}

.inno_section::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 6px;
}

.inno_title::-webkit-scrollbar-button {
    display: none;
}

.center_img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}

.center_img>img,
.center_img_01>img {
    width: 1500px;
    height: 800px;
}

.center_img_01 {
    position: absolute;
    top: 0;
    right: -1350px;
}

.inno_ment {
    margin: 70px;
    position: absolute;
    top: 0;
    width: 400px;
    padding-left: 30px;
    height: 400px;
    background-color: #ffffffd6;
}

.inno_ment>span {
    margin-top: 10px;
    display: block;
    height: 100px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100px;
}

.inno_ment>span::before {
    position: absolute;
    top: 90px;
    content: "";
    background-color: red;
    width: 30px;
    padding-left: 20px;
    height: 5px;
}

.inno_ment>p {
    margin-top: 20px;
    line-height: 50px;
    height: 250px;
    font-size: 2rem;
}

#footer_01 {
    color: #fff;
    position: relative;
    width: 100%;
    height: 330px;
    background-color: rgb(65, 63, 63);
}

#footer_01>div {
    text-align: center;
    float: left;
    width: 25%;
    margin-top: 25px;
    padding: 50px;
}

#footer_01>div>img {
    background-color: #fff;
    border-radius: 50%;
}

#footer_01>div>h4 {
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 400;
}

#footer_01>div>p {
    height: 80px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(159, 159, 159);
}

#footer_01>div:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    left: 25%;
    background-color: rgba(255, 255, 255, 0.604);
}

#footer_01>div:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.604);
}

#footer_01>div:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
    left: 75%;
    background-color: rgba(255, 255, 255, 0.604);
}

#footer_02 {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgb(234, 234, 234);
}

.footer_02_00 {
    position: relative;
    width: 1200px;
    padding: 20px;
}

.footer_02_01,
.footer_02_03 {
    line-height: 30px;
    height: 30px;
    margin-left: 10px;
    color: rgb(93, 93, 93);
    display: flex;
}

.footer_02_01>li:nth-child(1) {
    width: 120px;
    color: red;
}
.footer_02_01>li:nth-child(2){
    width: 100px;
}
.footer_02_01>li:nth-child(3), .footer_02_03>li:nth-child(2), .footer_02_03>li:nth-child(3), .footer_02_03>li:nth-child(7){
    width: 70px;
}
.footer_02_01>li:nth-child(4){
    width: 70px;
}
.footer_02_01>li:nth-child(5){
    width: 80px;
}
.footer_02_01>li:nth-child(6){
    width: 100px;
}
.footer_02_01>li:nth-child(1):after {
    content: '';
    position: absolute;
    width: 1px;
    margin-left: 10px;
    height: 15px;
    margin-top: 8px;
    background-color: rgb(193, 193, 193);
}
.footer_02_03>li:nth-child(1){
    width: 190px;
}
.footer_02_03>li:nth-child(4), .footer_02_03>li:nth-child(8){
    width: 95px;
}
.footer_02_03>li:nth-child(9){
    width: 170px;
}
.footer_02_03>li:nth-child(5), .footer_02_03>li:nth-child(6){
    width: 85px;
}
.footer_02_01>li:nth-child(2):after,
.footer_02_01>li:nth-child(3):after,
.footer_02_01>li:nth-child(4):after,
.footer_02_01>li:nth-child(5):after{
    content: '';
    position: absolute;
    width: 1px;
    margin-top: 8px;
    margin-left: 11px;
    height: 15px;
    background-color: rgb(193, 193, 193);
}

.footer_02_00>ul:nth-child(1) {
    margin-top: 5px;
}

.footer_02_00>ul:nth-child(2) {
    padding-top: 10px;
}

.footer_02_02 {
    height: 40px;
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    color: rgb(93, 93, 93);
    display: flex;
}

.footer_02_02>span {
    display: block;
    margin-top: 10px;
    color: rgb(93, 93, 93);
}

#footer_02>span {
    display: block;
    margin-top: 10px;
    color: rgb(93, 93, 93);
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
}

.footer_03 {
    position: absolute;
    top: 50px;
    width: 400px;
    right: 0px;
    margin: 28px;

}

.footer_03>img {
    float: left;
    padding: 15px;
}

.footer_04 {
    position: absolute;
    top: 120px;
    width: 580px;
    right: 0px;
    margin: 28px;
}

.footer_04>img {
    float: left;
    padding: 15px;
}

.arrow {
    position: fixed;
    bottom: 5px;
    z-index: 999;
    width: 75px;
    right: 0;
    cursor: pointer;
    height: 75px;
    background-color: red;
}

#m_icon {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}